.basket {
	display: flex;
}

.basket-content, .order-form {
	height: 100%;
}
.basket-content {
	width: 75%;
}
.order-form {
	width: 25%;
}
@media screen and (max-width: 632px) {
	.basket {
		flex-direction: column;
	}
	.basket-content {
		width: 100%;
	}
	.order-form {
		width: 100%;
	}
}