/*----------FONTS---------*/

@font-face {
    font-family: 'Big title';
    src: url('font/zelda.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Medium title';
    src: url('font/kg.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'text';
    src: url('font/louis.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bold text';
    src: url('font/louis_bold.ttf') format('TrueType');
    font-weight: normal;
    font-style: bold;
}
@font-face {
    font-family: 'italic text';
    src: url('font/louis_italic.ttf') format('TrueType');
    font-weight: normal;
    font-style: italic;
}
/*--------------GENERAL---------*/
body {
    height: auto;
    width: 100%;
    display: flex;
    margin : 0;
    padding : 0;
    flex-direction: column;
    font-family: 'text';
    background-image: url('../img/style/909546.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
main {
    background-color: rgba(255, 255, 255, 0.75);
    display: block;
    margin: 1em 1em;
}

/*--------------HEADER----------*/

header {
    height: 20%;
    width : 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.button {
    background-color: #155869;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Medium title';
    font-size : 120%;
}

#banner .title {
    text-align: center;
}

#connexion {
    display: block;
    padding-right: 2%;
}

a.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #155869;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'medium title';
    font-size: 120%;
    color: white;
    text-align: center;
    transition: all 0.2s;
}

a.button:hover {
    color: rgb(255, 255, 255);
    background-color: #088EA7;
}

/*-----------NAV------------*/
#header {
    background-color: #155869;
    display: block;
    height: 12%;
}

#menu, #menu ul {
    padding: 0;
    margin: 0;
    height: 48px;
    list-style: none;
    text-align: center;
    background-color: #155869;
  }

  #menu .cat {
    background: none;
    margin-top: 48px;
  }

  #menu li {
    display: inline-flex;
    position: relative;
    height: 100%;
    vertical-align: top;
  }
  #menu li li {
    display: inherit;
  }
  #menu ul li a {
    padding: 0;
    text-align: center;
    width: 100%;
  }
  #menu a {
    display: block;
    padding: 5px 50px;
    text-decoration: none;
    color: #fff;
  }
  #menu ul {
    position: absolute;
    min-width: 100%;
    white-space: nowrap;
    text-align: left;
  }
  #menu ul li {
    max-height: 0;
    overflow: hidden;
    transition: all 0.25s linear;
    display: flex;
    align-items: center;
  }
  #menu li:hover li {
    max-height: 66%;
    overflow: visible;
  }
  #menu form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
#nav {
    height: 100%;
}
.title-header {
    font-family: 'Medium title';
    font-size: 200%;
}

nav {
    height: 48px;
}
.name-header {
    font-size: 120%;
}
.sub {
    background-color: #088EA7;
}
.nav-sub {
    background-color: #00A0BA;
}

/*------------TITLE-----------*/

.title {
    font-family: 'Big title';
    font-size : 500%;
}

.title-medium {
    font-family : 'Medium title';
    font-size: 200%;
    text-align: center;
    color: white;
    background-color: #088EA7;
    width: auto;
    letter-spacing: 0.2em;
    margin: 0;
    margin-bottom: 16px;
    padding: 8px 0;
}

/*--------FORM--------*/

.form {
    width: auto;
}

.label {
    display:block;
    text-align: center;
    font-size: 150%;
}

.input {
    display: block;
    width: 480px;
    margin-right: auto;
    margin-left: auto;
    font-size: 120%;
}

.button-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #155869;
    border: none;
    color: white;
    padding: 1% 2%;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Medium title';
    font-size : 120%;
    margin-top: 1%;
}

.alert {
    background-color: #00A0BA;
    color: white;
    font-family: 'Medium title';
    letter-spacing: 0.2em;
    font-size: 150%;
    text-decoration: underline;
    text-align:center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width : 40%;
    margin-bottom: 2%;
    padding: 1%;
}

.select {
    font-size: 120%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
}

.img-form {
    display:block;
    margin-right: auto;
    margin-left: auto;
}
/*------PROFIL------*/

.profile {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 170%;
}

.profile-option a{
    text-decoration: none;
}

.profile-option a:visited{
    text-decoration: none;
    color: white;
}

.profile-option a:hover{
    text-decoration: underline;
}

.profile-option{
    background-color: #155869;
    font-family : 'Medium title';
    letter-spacing: 0.2em;
    font-size: 150%;
    color: white;
    margin: 3% 10% 3% 10%;
    padding : 3%;
    text-align: center;
}

/*--------------TABLEAU------------*/
table {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 2%;
    width: fit-content;
}
thead {
    background-color:#00A0BA ;
    color: white;
    font-size: 150%;
    text-align: center;
}
tbody {
    font-size: 120%;
    text-align: center;
}
td {
    padding: 2%;
}
/*-----------PRODUCT--------------*/
.product{
    text-decoration: none;
    color: black;
}
.product:visited{
    color: black;
}
.text{
    font-size: 150%;
    font-family: 'text';
}
section{
    padding: 2%;
}
.filter{
    width : 1%;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pro{
    display: inline-block;
    flex-grow: 1 0 21%;
    width : 25%;
    border-style: solid;
    border-color: #155869;
    margin : 1%;
    padding: 1%;
}
.img-pro{
    display: block;
    max-width: 30%;
    min-width: 30%;
    margin-right: auto;
    margin-left: auto;

}
.title_pro{
    width: 100%;
    flex-grow: 1 1 100%;
}
input[type="submit"]{
    cursor:pointer;
}
a{
    cursor: pointer;
}
.basket-content{
    display: flex;
    flex-direction: column;
    border-style: solid;
    color: #155869;
    margin :1%;
    padding: 1%;
}